.git
.pytest_cache
.ruff_cache
__pycache__
*.pyc
env
frontend/node_modules
frontend/dist
downloads
config/settings.json
sample
sample*
prompts
resources/pixiv.db
resources/conf/settings.json
resources/logs
logs
build
dist
*.spec
